body{
    margin: 0;
    padding: 0;
}

*{
    user-select: none;
}

nav{
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

nav button{
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    user-select: none;
    margin-right: 50px;
    margin-left: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

nav button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    scale: 1.2;
}

nav .active{
    background-color: white;
    color: black;
    
}

.quizNav{
    background-color: #A41F13;
}

.quizNav button{
    background-color: #A41F13;
}

.quizNav .active{
    background-color: black;
    color: white;
}

.quizNav button:hover{
    background-color: black;
    color: white;
}

#mainHeader{
    padding: 15px;
}

#topics, #topicsQuiz{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    gap: 25px;
    background-color: #EAEAEA;
    margin: 15px;
    border-radius: 5px;
}

#topicsQuiz{
    border-color: #A41F13;
}

.topic{
    color: #EAEAEA;
    background-color: #212121;
    transition: all 0.3s ease-in-out;
    padding: 5%;
    text-align: center;
}

.topic h1{
    font-size: x-large;
}

.topic:hover{
    cursor: pointer;
}

.unavailable{
    filter: contrast(0.5);
}

.unavailable:hover{
    cursor: not-allowed;
    scale: 1;
}